$grid-1: 4.166667%;
$grid-2: 8.333333%;
$grid-3: 12.5%;
$grid-4: 16.666667%;
$grid-5: 20.833333%;
$grid-6: 25%;
$grid-7: 29.166667%;
$grid-8: 33.333333%;
$grid-9: 37.5%;
$grid-10: 41.666667%;
$grid-11: 45.833333%;
$grid-12: 50%;
$grid-13: 54.166667%;
$grid-14: 58.333333%;
$grid-15: 62.5%;
$grid-16: 66.666667%;
$grid-17: 70.833333%;
$grid-18: 75%;
$grid-19: 79.166667%;
$grid-20: 83.333333%;
$grid-21: 87.5%;
$grid-22: 91.666667%;
$grid-23: 95.833333%;
$grid-24: 100%;
