@import "../../common/common.scss";
@import "../../mixin/theme.scss";
@import "../../mixin/fn.scss";
.at-btn {
    height: $btn-height;
    line-height: $btn-height;
    padding: 0 $btn-padding-x;
    font-size: $btn-font-size;
    background: $color-bg-light-gray;
    border: 1px solid $color-bg-gray;
    color: $color-font-6;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    &:hover {
        background: $color-bg-light-gray - 20;
    }
    &:disabled {
        cursor: not-allowed;
    }
    &.btn-large {
        height: $btn-height-large;
        line-height: $btn-height-large;
        padding: 0 $btn-padding-x-large;
        font-size: $btn-font-size-large;
    }
    &.btn-normal {
        height: $btn-height;
        line-height: $btn-height;
        padding: 0 $btn-padding-x;
        font-size: $btn-font-size;
    }
    &.btn-small {
        height: $btn-height-small;
        line-height: $btn-height-small;
        padding: 0 $btn-padding-x-small;
        font-size: $btn-font-size-small;
    }
    &.theme-default {
        background: $color-bg-light-gray;
        border: 1px solid $color-bg-gray;
        color: $color-font-6;
        &:hover {
            background: $color-bg-light-gray - 20;
        }
    }
    &.theme-primary {
        background: $color-primary;
        border: 1px solid $color-dark-primary;
        color: $color-double-dark-primary;
        &:hover {
            background: $color-primary - 20;
        }
    }
    &.theme-light-primary {
        background: $color-light-primary;
        border: 1px solid $color-primary;
        color: $color-dark-primary;
        &:hover {
            background: $color-light-primary - 20;
        }
    }
    &.theme-dark-primary {
        background: $color-dark-primary;
        border: 1px solid $color-double-dark-primary;
        color: $color-triple-dark-primary;
        &:hover {
            background: $color-dark-primary - 20;
        }
    }
    &.theme-info {
        background: $color-info;
        border: 1px solid $color-info - 64;
        color: $color-info - 96;
        &:hover {
            background: $color-info - 20;
        }
    }
    &.theme-success {
        background: $color-success;
        border: 1px solid $color-success - 64;
        color: $color-success - 96;
        &:hover {
            background: $color-success - 20;
        }
    }
    &.theme-warning {
        background: $color-warning;
        border: 1px solid $color-warning - 64;
        color: $color-warning - 96;
        &:hover {
            background: $color-warning - 20;
        }
    }
    &.theme-danger {
        background: $color-danger;
        border: 1px solid $color-danger - 64;
        color: $color-danger - 96;
        &:hover {
            background: $color-danger - 20;
        }
    }
    &.theme-purple {
        background: $color-light-purple;
        border: 1px solid $color-dark-purple;
        color: $color-dark-purple;
        &:hover {
            background: $color-light-purple - 20;
        }
    }
    &.purely {
        border: 1px solid $color-bg-light-gray;
        &.theme-default {
            border: 1px solid $color-bg-light-gray;
        }
        &.theme-primary {
            border: 1px solid $color-primary;
        }
        &.theme-light-primary {
            border: 1px solid $color-light-primary;
        }
        &.theme-dark-primary {
            border: 1px solid $color-dark-primary;
        }
        &.theme-info {
            border: 1px solid $color-info;
        }
        &.theme-success {
            border: 1px solid $color-success;
        }
        &.theme-warning {
            border: 1px solid $color-warning;
        }
        &.theme-danger {
            border: 1px solid $color-danger;
        }
        &.theme-purple {
            border: 1px solid $color-light-purple;
        }
    }
    &.border-radius {
        border-radius: $btn-border-radius;
    }
}

.at-btn-group {
    width: 100%;
    .at-btn {
        margin: 0 0 0 $block-size-1;
        &:first-child {
            margin-left: 0 !important;
        }
    }
    &.vertical {
        .at-btn {
            display: block;
            margin: $block-size-1 0 0 0;
            &:first-child {
                margin-top:  !important;
            }
        }
    }
}

@media screen and (max-device-width: $screen-md) {
    .at-btn {
        @include px2rem('padding', 0 $btn-padding-x);
        font-size: px2rem($btn-font-size);
        border: px2px(1px) solid $color-bg-gray;
        &.btn-large {
            height: px2rem($btn-height-large);
            line-height: px2rem($btn-height-large);
            @include px2rem('padding', 0 $btn-padding-x-large);
            font-size: px2rem($btn-font-size-large);
        }
        &.btn-normal {
            height: px2rem($btn-height);
            line-height: px2rem($btn-height);
            @include px2rem('padding', 0 $btn-padding-x);
            font-size: px2rem($btn-font-size);
        }
        &.btn-small {
            height: px2rem($btn-height-small);
            line-height: px2rem($btn-height-small);
            @include px2rem('padding', 0 $btn-padding-x-small);
            font-size: px2rem($btn-font-size-small);
        }
        &.theme-default {
            border: px2px(1px) solid $color-bg-gray;
        }
        &.theme-primary {
            border: px2px(1px) solid $color-dark-primary;
        }
        &.theme-light-primary {
            border: px2px(1px) solid $color-primary;
        }
        &.theme-dark-primary {
            border: px2px(1px) solid $color-double-dark-primary;
        }
        &.theme-info {
            border: px2px(1px) solid $color-info - 64;
        }
        &.theme-success {
            border: px2px(1px) solid $color-success - 64;
        }
        &.theme-warning {
            border: px2px(1px) solid $color-warning - 64;
        }
        &.theme-danger {
            border: px2px(1px) solid $color-danger - 64;
        }
        &.theme-purple {
            border: px2px(1px) solid $color-dark-purple;
        }
        &.purely {
            border: px2px(1px) solid $color-bg-light-gray;
            &.theme-default {
                border: px2px(1px) solid $color-bg-light-gray;
            }
            &.theme-primary {
                border: px2px(1px) solid $color-primary;
            }
            &.theme-light-primary {
                border: px2px(1px) solid $color-light-primary;
            }
            &.theme-dark-primary {
                border: px2px(1px) solid $color-dark-primary;
            }
            &.theme-info {
                border: px2px(1px) solid $color-info;
            }
            &.theme-success {
                border: px2px(1px) solid $color-success;
            }
            &.theme-warning {
                border: px2px(1px) solid $color-warning;
            }
            &.theme-danger {
                border: px2px(1px) solid $color-danger;
            }
            &.theme-purple {
                border: px2px(1px) solid $color-light-purple;
            }
        }
        &.border-radius {
            border-radius: px2rem($btn-border-radius);
        }
    }
    .at-btn-group {
        .at-btn {
            margin: 0 0 0 px2rem($block-size-1);
        }
        &.vertical {
            .at-btn {
                margin: px2rem($block-size-1) 0 0 0;
            }
        }
    }
}