@import "../../common/common.scss";
@import "../../mixin/theme.scss";
@import "../../mixin/fn.scss";
.dialog-mask {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
}

.at-dialog-toast-container {
    max-width: 600px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.at-dialog-toast {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 50%;
    margin-top: $toast-top;
    transform: translate(-50%, 0);
    padding: $toast-padding $toast-padding * 2;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .2);
    border-radius: 2px;
    color: $color-font-6;
    font-size: 14px;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    .icon-container {
        padding-right: 16px;
        .icon-box {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .text {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        vertical-align: middle;
    }
    .toast-icon {
        font-size: 24px;
        color: $color-primary;
    }
    &.success {
        border-color: rgba(red($color-success), green($color-success), blue($color-success), 1);
        box-shadow: 2px 2px 8px 1px rgba(red($color-success), green($color-success), blue($color-success), .5);
        .toast-icon {
            color: $color-success;
        }
    }
    &.warning {
        border-color: rgba(red($color-warning), green($color-warning), blue($color-warning), 1);
        box-shadow: 2px 2px 8px 1px rgba(red($color-warning), green($color-warning), blue($color-warning), .5);
        .toast-icon {
            color: $color-warning;
        }
    }
    &.info {
        border-color: rgba(red($color-info), green($color-info), blue($color-info), 1);
        box-shadow: 2px 2px 8px 1px rgba(red($color-info), green($color-info), blue($color-info), .5);
        .toast-icon {
            color: $color-info;
        }
    }
    &.danger {
        border-color: rgba(red($color-danger), green($color-danger), blue($color-danger), 1);
        box-shadow: 2px 2px 8px 1px rgba(red($color-danger), green($color-danger), blue($color-danger), .5);
        .toast-icon {
            color: $color-danger;
        }
    }
    &.purple {
        border-color: rgba(red($color-purple), green($color-purple), blue($color-purple), 1);
        box-shadow: 2px 2px 8px 1px rgba(red($color-purple), green($color-purple), blue($color-purple), .5);
        .toast-icon {
            color: $color-purple;
        }
    }
}

.at-dialog-alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.at-dialog-confirm-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.at-dialog-alert {
    width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
    .alert-title {
        width: 100%;
        height: $alert-title-height;
        line-height: $alert-title-height;
        text-align: center;
        font-size: $alert-title-font-size;
        border-bottom: 1px dashed $color-border-light-gray;
        color: $color-font-6;
        font-weight: bold;
    }
    .alert-content {
        padding: $alert-padding;
        font-size: $alert-content-font-size;
        color: $color-font-6;
    }
    .alert-button {}
    &.info {
        .alert-title {
            color: $color-info;
        }
    }
    &.primary {
        .alert-title {
            color: $color-primary;
        }
    }
    &.success {
        .alert-title {
            color: $color-success;
        }
    }
    &.warning {
        .alert-title {
            color: $color-warning;
        }
    }
    &.danger {
        .alert-title {
            color: $color-danger;
        }
    }
    &.purple {
        .alert-title {
            color: $color-purple;
        }
    }
}

@media screen and (max-device-width: $screen-md) {
    .at-dialog-toast-container {
        max-width: 80%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .at-dialog-toast {
        background: rgba(0, 0, 0, .6);
        color: #fff;
        margin-top: px2rem($toast-top);
        padding: px2rem($toast-padding) px2rem($toast-padding * 2);
        border: none;
        border-radius: px2rem(2px);
        font-size: px2rem(14px);
        box-shadow: none;
        .icon-container {
            display: none;
        }
        .text {
            text-align: center;
        }
        &.success {
            color: $color-success;
        }
        &.warning {
            color: $color-warning;
        }
        &.info {
            color: $color-info;
        }
        &.primary {
            color: $color-primary;
        }
        &.danger {
            color: $color-danger;
        }
        &.purple {
            color: $color-light-purple;
        }
    }
    .at-dialog-alert {
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include px2px('box-shadow', 2px 2px 8px 1px rgba(0, 0, 0, 0.3));
        .alert-title {
            height: px2rem($alert-title-height);
            line-height: px2rem($alert-title-height);
            font-size: px2rem($alert-title-font-size);
            @include px2px('border-bottom', 1px dashed $color-border-light-gray);
        }
        .alert-content {
            padding: px2rem($alert-padding);
            font-size: px2rem($alert-content-font-size);
        }
    }
}