@import "../../common/common.scss";
@import "../../mixin/theme.scss";
@import "../../mixin/fn.scss";
.at-radio {
    display: inline-block;
    height: $radio-box-height;
    line-height: $radio-box-height;
    padding: 0 $radio-padding 0 $radio-padding;
    input[type="radio"] {
        display: none;
    }
    .radio-icon {
        width: $radio-circle-r * 2;
        height: $radio-circle-r * 2;
        border-radius: $radio-circle-r;
        border: 2px solid $color-border-gray;
        display: block;
        float: left;
        margin-top: ($radio-box-height - $radio-circle-r * 2) / 2;
        position: relative;
        &::after {
            display: none;
            content: '';
            position: absolute;
            width: $radio-circle-r;
            height: $radio-circle-r;
            border-radius: $radio-circle-r / 2;
            background: $color-primary;
            top: $radio-circle-r / 4;
            left: $radio-circle-r / 4;
        }
    }
    .radio-text {
        margin-left: $radio-padding;
        font-size: $radio-font-size;
        color: $color-font-3;
    }
    &.checked {
        .radio-icon {
            border-color: $color-primary;
            &::after {
                display: block;
            }
        }
    }
    &.unchecked {
        .radio-icon {
            border-color: $color-border-gray;
            &::after {
                display: none;
            }
        }
    }
    &.disabled {
        cursor: not-allowed;
        .radio-icon {
            border-color: $color-border-light-gray;
            cursor: not-allowed;
            &::after {
                background: $color-border-light-gray;
            }
        }
        .radio-text {
            cursor: not-allowed;
            color: $color-border-light-gray;
        }
    }
    &.enabled {}
}

.at-radio-group {
    &.vertical {
        .at-radio {
            display: block;
        }
    }
}

@media screen and (max-device-width: $screen-md) {
    .at-radio {
        height: px2rem($radio-box-height);
        line-height: px2rem($radio-box-height);
        padding: 0 px2rem($radio-padding) 0 ($radio-padding);
        .radio-icon {
            width: px2rem($radio-circle-r * 2);
            height: px2rem($radio-circle-r * 2);
            border-radius: px2rem($radio-circle-r);
            @include px2px('border', 2px solid $color-border-gray);
            margin-top: px2rem(($radio-box-height - $radio-circle-r * 2) / 2);
            &::after {
                width: px2rem($radio-circle-r);
                height: px2rem($radio-circle-r);
                border-radius: px2rem($radio-circle-r / 2);
                top: px2rem($radio-circle-r / 2.5);
                left: px2rem($radio-circle-r / 2.5);
            }
        }
        .radio-text {
            margin-left: px2rem($radio-padding);
            font-size: px2rem($radio-font-size);
        }
    }
}