@import "../mixin/theme.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;
    outline: none;
}

// elements default style setting
a {
    color: inherit;
    font-size: inherit;
    &:hover {
        color: $color-dark-primary;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 150%;
    font-weight: bold;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h5;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

span {
    color: inherit;
    font-size: inherit;
    display: inline-block;
}

b {
    color: inherit;
    font-size: inherit;
    display: inline-block;
}