.float-left {
    float: left;
}

.float-right {
    float: right;
}

.display-hidden {
    display: hidden !important;
}

.display-block {
    display: block !important;
}

.display-inline-block {
    display: inline-block !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}